:host {
  display: block;
  height: 100%;
}

.messages-container::-webkit-scrollbar {
  width: 6px;
}

.messages-container::-webkit-scrollbar-track {
  background: transparent;
}

.messages-container::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
}

.messages-container::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}
